// Application settings

// use default theme for defaults
@import "../default/default";

@jhuBlue: #002D72;

@import (inline) "jhu_fonts.css";

@textColor: @black;
@headingsColor: @jhuBlue;

@linkColor: @jhuBlue;
@linkColorHover: @grayLight;

@navbarCollapseWidth: 979px;
@navbarUncollapseWidth: @navbarCollapseWidth + 1px;
@navbarLinkColor: @jhuBlue;
@navbarLinkColorHover: @grayLight;

@siteNavLinkColor: #BBB;
@siteNavHoverColor: #EEE;
@siteNavBackgroundColor: @jhuBlue;

@appBrandingColor: #AAA;
@appMenuColor: @jhuBlue;

@jhuHeadingsFontFamily: 'Titling-Gothic';
@jhuBodyFontFamily: 'Gentona';

@baseFontFamily: 'Gentona';


// Application styles


body {
  background: none;
}

// control screen reader stuff
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// special behaviors for "contact us" link
.contact-us {
  float: none;

  @media (min-width: 980px) {
      float: right !important;
  }
}


.nav-heading {
  font-family: @jhuHeadingsFontFamily, sans-serif;
  float: left;
  height: 100%;
  overflow: hidden;
  padding: 10px 5px 10px 0;
  font-size: larger;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: @grayLight;
  }
}

.app-nav-heading {
  .nav-heading;
  color: @appMenuColor;

  @media (min-width: 980px) {
    display: none;
  }
}

.branding-container {

  // organizational branding
  .jhu-branding-org {
    float: left;
    width: 240px;
    height: 70px;
    overflow: hidden;
    padding: 10px 0 10px;
    margin: 5px 5px 0 5px;
    vertical-align: middle;
    display: inline-block;

    img {
      max-width: 300px;
      overflow: hidden;
      margin: -28px 0 0 -30px;
    }
  }

  // application branding
  .jhu-branding-app {
    float: left;
    width: 250px;
    height: 70px;
    overflow: hidden;
    padding: 10px 0 10px 0;
    margin: 5px 5px 0 5px;
    vertical-align: middle;
    display: none;
    font-size: xx-large;
    text-align: left;
    justify-content: center;
    align-items: center;
    color: @appBrandingColor;

    @media (min-width: 600px){
      float: right;
      display: flex;
      text-align: right;
    }
  }

  #jhu-main-nav {

    .jhu-nav-heading {
      .nav-heading;
    }

    #jhu-navbar {
      .collapsing, .collapsed {
        display: none;
      }
      @media (min-width: 980px) {
        display: inline-block;
        height: 30px !important;
      }
    }

    .navbar-inner {
      background: @siteNavBackgroundColor;
      color: @siteNavLinkColor;
      border-radius: 0;
      border-color: @siteNavBackgroundColor;
    }

    .nav > li {
      background: @siteNavBackgroundColor;
      a {
        padding: 13px 15px 7px;
        color: @siteNavLinkColor;
        background: @siteNavBackgroundColor;
        text-shadow: none;
        @media (max-width: 979px) {
          padding: 10px 15px 10px;
        }
      }
    //
      a:hover {
        color: @siteNavHoverColor;
      }
    }
  }
}
